time { color: #666; }

.tabs-btn {
overflow: hidden;
}
    .tabs-btn li {}
        .tab-btn {
        background: #eee;
            background: -webkit-linear-gradient(top,  #fafafa, #ddd);
            background:    -moz-linear-gradient(top,  #fafafa, #ddd);
            background:     -ms-linear-gradient(top,  #fafafa, #ddd);
            background:      -o-linear-gradient(top,  #fafafa, #ddd);
            background:   linear-gradient(to bottom,  #fafafa, #ddd);
        border: 1px solid #aaa;
        border-right: 0;
        color: #333;
        text-shadow: none;
        display: block;
        float: left;
        }
            .tab-btn.active {
            background: #ddd;
            }
        .tab-first {
        border-radius: .3em 0 0 .3em;
        }
        .tab-last {
        border-radius: 0 .3em .3em 0;
        border-right: 1px solid #aaa;
        } 


.timetable {
border-top: 1px solid #ddd;
}

    .timetable-hour-block {
    /*
    background: #1e5799;
        background: -webkit-linear-gradient(top, transparent, transparent 50%, rgba(0,0,0,.1) 50.2%, transparent 50%, transparent);
        background:    -moz-linear-gradient(top, transparent, transparent 50%, rgba(0,0,0,.1) 50.2%, transparent 50%, transparent);
        background:     -ms-linear-gradient(top, transparent, transparent 50%, rgba(0,0,0,.1) 50.2%, transparent 50%, transparent);
        background:      -o-linear-gradient(top, transparent, transparent 50%, rgba(0,0,0,.1) 50.2%, transparent 50%, transparent);
        background:   linear-gradient(to bottom, transparent, transparent 50%, rgba(0,0,0,.1) 50.2%, transparent 50%, transparent);
    */
    border-bottom: 1px solid #ddd;
    padding: .3em 0 .3em 70px;
    min-height: 40px;
    }
        .timetable-hour {
        border-right: 1px solid #ddd;
        position: absolute;
        width: 60px;
        left: 0;
        z-index: 100;
        text-align: right;
        height: 40px;
        line-height: 40px;
        padding-right: 10px;
        top: 50%;
        margin-top: -20px;
        }

.appointment {
background: #eee;
border-left: 6px solid;
padding: .5em;
border-radius: .3em;
margin-right: 10px;

z-index: 100;
}
    .appointment-black   { border-color: #000000; } /*.event-color-black   { background-color: #000000; }*/
    .appointment-red     { border-color: #FF0000; } /*.event-color-red     { background-color: #FF0000; }*/
    .appointment-green   { border-color: #00FF00; } /*.event-color-green   { background-color: #00FF00; }*/
    .appointment-blue    { border-color: #0000FF; } /*.event-color-blue    { background-color: #0000FF; }*/
    .appointment-yellow  { border-color: #FFFF00; } /*.event-color-yellow  { background-color: #FFFF00; }*/
    .appointment-cyan    { border-color: #00FFFF; } /*.event-color-cyan    { background-color: #00FFFF; }*/
    .appointment-magenta { border-color: #FF00FF; } /*.event-color-magenta { background-color: #FF00FF; }*/
    .appointment-gray    { border-color: #C0C0C0; } /*.event-color-gray    { background-color: #C0C0C0; }*/
    .appointment-white   { border-color: #9d0; }    /*.event-color-white   { background-color: #9d0; }   */
    .appointment-date    {}


/*calendar style updates*/
.calendar-view-month .appointment {
    padding: 0 0 0 2px;
    font-size: 12px;
    width: 94%;
}
.calendar-view-month .appointment-issue {
    white-space: nowrap;
    margin: 0;
}
/*calendar event categories */
[class*="event-color-"]:before {
    background: #ff0;
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 5px;
    border: 1px solid #aaa;
}
[class*="event-color-black"]:before   { background: #222222; }
[class*="event-color-red"]:before     { background: #f33d3f; }
[class*="event-color-green"]:before   { background: #a7db63; }
[class*="event-color-blue"]:before    { background: #6499d7; }
[class*="event-color-yellow"]:before  { background: #ecdc3c; }
[class*="event-color-cyan"]:before    { background: #43efda; }
[class*="event-color-magenta"]:before { background: #ea5dc9; }
[class*="event-color-gray"]:before    { background: #cccccc; }
[class*="event-color-white"]:before   { background: #fafafa; }

.calendar-color.active:after {
    content: '';
    position: absolute;
    bottom: -10px;
    border: 5px solid #000;
    border-color: transparent transparent #000 transparent;
    left: 50%;
    margin-left: -5px;
}

.event-category {
    margin: 5px 0;
}


    .calendar-view-day   .appointment,
    .calendar-view-week  .appointment,
    .calendar-view-month .appointment {
    max-width: 250px;
    display: inline-block;
    }

.calendar-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
/*.calendar-color.active {
    width: 25px;
    height: 25px;
}*/

.full-link {
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
text-indent: -999em;
overflow: hidden;
}
    .full-link:hover,
    .full-link:active {
    background: rgba(255,0,0,.5);
    }



.timetable-table {
border-bottom: 1px solid #ddd;
margin: 2em 0;

overflow: hidden;
}
    .timetable-table ul {
    overflow: hidden;
    }
    .timetable-table > li > ul > li {
    border-left: 1px solid #ddd;
    width: 12.5%;
    display: block;
    float: left;
    min-height: 40px;
    }
        .timetable-table-days li[scope] {
        background: none;
        border: 0;
        font-size: 14px;
        text-align: center;
        line-height: 40px;
        }
    .timetable-table-hour {
    width: 60px;
    text-align: center;
    line-height: 40px;
    }
    
    .timetable-table-hours > ul {
    border-top: 1px solid #ddd;
    }
    
    .timetable-table .appointment ~ .appointment {
    margin-top: -70px;
    box-shadow: 0 -2px 1px -1px rgba(0,0,0,.3) ;
    }


.calendar-view-month .day {
width: 14.28%;
}
    .day-other-month {
    background: #f7f7f7;
    }
    .day-past {
    background: #fdfdfd;
    }
    .day-today {
    box-shadow: inset 0 0 0 2px #adf;
    }
    .calendar-view-month .day-number {
    padding: 10px;
    display: block;
    margin: 0 0 -10px;
    color: #888;
    }
    .calendar-view-month .appointment-patient {
    display: none;
    }
    
.calendar-view-schedule .appointment-date,
.calendar-view-schedule .appointment-issue,
.calendar-view-schedule .appointment-patient,
.calendar-view-schedule .veterinary {
display: inline-block;
margin-right: 20px;
}
.calendar-view-schedule .appointment {
margin-bottom: .5em;
}

.calendar-view-schedule .day-link {
padding: .5em 0;
}
.calendar-view-schedule .calendar-group-appointments {
margin-bottom: 2em;
}

.nav-zone {
outline: 1px solid red;
width: 100%;
display: block;
background: #def;
}
    .tabs-btn {
    }
    .calendar-list-options,
    .calendar-date-selector {
    position: absolute;
    right: 0;
    top: 0;
    }
        .calendar-date-selector {
        top: 10px;
        }

.calendar-container {
overflow: hidden;
}
    .calendar-sidebar {
    float: left;
    width: 20%;
    }
    .calendar-view {
    padding-top: 50px;
    float: right;
    min-width: 80%;
    padding-left: 20px;
    }

input[type="checkbox"],
input[type="checkbox"] + label {
display: inline-block;
vertical-align: middle;
}
    input[type="checkbox"] {
    margin-right: 3px;
}


/* @marcoscalatayud :: quick and dirty fixes/hacks */

[id*="event_start_"],
[id*="event_end_"] {
    display: inline-block;
    margin: 0;
}
[id*="time_hour"] {
 margin-left: 20px;   
}
#mini-calendar td {
padding: 10px;
}
.calendar-view-month .timetable-table-hours .day {
min-height: 90px;
}

.calendar-date-current-date {
font-size: 14px;
}
section[class*="calendar-view-"] {
margin-left: -20px;
}
.calendar-sidebar {
margin-right: 20px;
}
.timetable-table-hours>ul {
border-right: 1px solid #ddd;
}


.tab-btn:hover {
background: #ddd;
}
.tab-btn:active {
background: #ddd;
background: -webkit-linear-gradient(top,  #ddd, #fafafa);
background:    -moz-linear-gradient(top,  #ddd, #fafafa);
background:     -ms-linear-gradient(top,  #ddd, #fafafa);
background:      -o-linear-gradient(top,  #ddd, #fafafa);
background:   linear-gradient(to bottom,  #ddd, #fafafa);
}

/* IE9 */
.calendar-sidebar + div > .tabs-btn {
width: 250px;
}


/* Custom */
.calendar-sidebar {
position: static;
float: left!important;
width: 25%!important;
}

section[class*="calendar-view-"] {
float: left!important;
padding-left: 20px!important;
width: 75%!important;
}

.calendar-sidebar .day a {
color: #222;
}

.calendar-sidebar .day.today {
border-color: #333;
border: 1px solid;
}

.calendar-sidebar .day.offmonth a {
color: #999;
}

.nav-zone {
    padding-top: 30px;
}

.calendar-date-selector {
    position: relative;
    top: 0px;
    float:right;
    clear:both;
}

