# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

src/BladeTester/CalendarBundle/Tests/App/cache
src/BladeTester/CalendarBundle/Tests/App/logs