<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    syntaxCheck                 = "false"
    bootstrap="./bootstrap.php">

    <testsuites>
        <testsuite name="CalendarBundle Test Suite">
            <directory>src/BladeTester/CalendarBundle/Tests</directory>
        </testsuite>
    </testsuites>

</phpunit>