<html>
    <head>
        <link rel="stylesheet" href="{{ asset('bundles/bladetestercalendar/css/calendar-header.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/bladetestercalendar/css/calendar.css') }}">
    </head>
    <body>
            <div class="app">
                <header class="main-header">
                    {% block header %}
                    {% endblock %}
                </header>


                <div class="main-body">
                    {% block body %}
                    {% endblock %}
                </div>

                <footer class="main-footer">
                    {% block footer %}
                        <p>Opensourced by <a href="#">&reg;Vetaminic</a></p>
                    {% endblock %}
                </footer>
            </div>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/bladetestercalendar/js/jquery-1.9.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/bladetestercalendar/js/calendar.js') }}"></script>
    {% endblock %}
    </body>
</html>

