{% extends 'BladeTesterCalendarBundle:Event:base.html.twig' %}

{% block body %}
<form id="event-add" method="POST" action="{{ url('calendar_event_add') }}?destination={{ app.request.get('destination') }}" >
    {% include 'BladeTesterCalendarBundle:Event:form.html.twig' %}
    <input type="submit" value="{{ 'bladetester_calendar.label.event.add'|trans }}" /> 
    {% include 'BladeTesterCalendarBundle:Event:cancel.html.twig' %}
</form>
{% endblock %}