<html>
    <head>
        <link rel="stylesheet" href="http://prepro.vetclouds.com/css/fe11fe9.css">
        <link rel="stylesheet" href="{{ asset('public/css/calendar.css') }}">
    </head>
    <body>
        <aside class="calendar-sidebar">
        </aside>
        <nav class="calendar-date-selector"></nav>
        {% block calendar_body %}
        {% endblock %}
    </body>
</html>