<ul class="calendar-group-appointments">
    {% for event in events %}
        <li class="appointment">{% include 'BladeTesterCalendarBundle:Event:event.html.twig' with { 'event' : event } %}</li>
    {% endfor %}
</ul>