{% extends 'BladeTesterCalendarBundle:Event:base.html.twig' %}

{% block calendar_body %}
    {% if events %}
        <ul class="events">
            {% for event in events %}
                <li class="event">{% include 'BladeTesterCalendarBundle:Event:event.html.twig' with { 'event' : event } %}</li>
            {% endfor %}
        </ul>
    {% else %}
        {{ 'bladetester_calendar.list.no_events'}}
    {% endif %}
{% endblock %}